.header {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.subsection {
    margin-top: 2rem;
} 

/*============ Header text CSS ============*/

.header__text {

}

.heroText__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


/*============ cta CSS ============*/

.header__cta {

}

.Cta__contatiner {
    display: flex;
    gap: 1rem;
}

#Cta__contatiner__talk {
    background-color: var(--color-primary);
    color: var(--color-bg)
}

#Cta__contatiner__talk:hover {
    background-color: var(--color-white);
    outline:1px solid var(--color-white)
}

/*============ photo CSS ============*/

.centerImage {
    flex-grow: 1;
    width: 27rem;
    border-radius: 20rem 20rem 0 0;
    background-image: linear-gradient(var(--color-primary), transparent);
    position: relative;
    overflow: hidden;
}

.centerImage__contanier {
    position: absolute;
    bottom: -3rem;
    overflow: hidden;
    
}

.centerImage__contanier__img {
    max-width: 60%;
    height: auto;

}
/*============ socials CSS ============*/
.header__socials {

}

.socials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 8rem;
}

#line {
    height: 2rem;
    width: 2px ;
    background-color: var(--color-primary);
}

/*============ scroll CSS ============*/

.header__scroll {
    
}

.scroll__container {
    position: absolute;
    right: 0;
    bottom: 10rem;
    transform: rotate(90deg);
}


@media screen and (max-width: 1024px) {
    .header__scroll, .header__socials {
        display: none;
    }
}
