@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/*============ reset CSS ============*/
* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	vertical-align: baseline;
}

/*============ base CSS ============*/

:root {
    --color-bg: #1f1f38;
    --color-bg-varient: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-varient: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 0.4s ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --section-height-lg: 100vh;
    --section-height-md: 85vh;
    --section-height-sm: 100vh;
  }
  
/*============ primary CSS ============*/
html {
    font-size: 16px;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
    background-color: var(--color-bg);
    background-image: url("./assets/bg-texture.png");
    color: var(--color-primary)
}


.container {
    margin: 0 auto;
    width: var(--container-width-lg)
}


.section, section {
    height: var(--section-height-lg);
}

h2 {
    color: var(--color-white);
    font-weight: 700;
    font-size: 3rem;
}

h4 {
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.5rem;
}

h5 {
    color: var(--color-light);
    font-weight: 700;
    font-size: 1.2rem;
}

.button {
    padding: 1rem;
    outline: 1px solid var(--color-primary);
    border-radius: 0.5rem;
}

.button:hover {
    color: var(--color-bg);
    background-color: var(--color-white);
    outline: 1px solid var(--color-white);
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

/*============ media query ============*/

@media screen and (max-width: 1024px) {
    
}


@media screen and (max-width: 1024px) {
    
}
